{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/common/contacts.css' %}">{% endblock %}


{% block content %}
<div class="info-container">
    <p>КОНТАКТЫ И ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ</p>
    <p>Phone: @kartblansh</p>
    <p>Email: hello@loftpineapple.com</p>
    <p>ИП Красавина Татьяна Викторовна</p>
    <p>ИНН 500907282417</p>
    <p>ОГРНИП 321774600802482</p>
    <p>г. Москва</p>
</div>

{% endblock %}