{% extends 'base.html' %}
{% load static %}

{% block title %}Методы{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/common/methods.css' %}">{% endblock %}


{% block content %}

    <div class="main-container">
        <di></di>
        <p>На данной странице перечислены методы API</p>
        <p>Вы можете взаимодействовать с API через HTTP-запросы на любом языке</p>
        <h3>Аутентификация</h3>
        <p>Для отправки запроса необходимо в личном кабинете (ЛК) сгененировать ключ <img src="{% static 'images/common/methods/create.png' %}"></p>
        <p>Он используется в заголовке запроса в <code>X-API-Key</code></p>
        <p><span>Помните, что ваш ключ API - это секрет!</span> Не делитесь им с другими или не показывайте его в каком-либо коде на стороне клиента 
            (браузеры, приложения). Запросы в рабочем окружении должны быть направлены через ваш собственный серверный бэкенд, 
            где ваш ключ API может быть безопасно загружен из переменной среды окружения или службы управления ключами.</p>

        <div class="method-container">
            <h3>Доступные методы</h3>
            <p>Описание поддерживаемых методов описана на странице <a href="https://www.cgpty.com/docs">https://www.cgpty.com/docs</a> </p>
        </div>


    </div>

    

{% endblock %}